@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  background-color: #1a1c20;
  color: #ff6464;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.about-brand{
  color: #4d4646;
  font-size: 1.5em;
}

.container .navbar-brand {
  font-size: 1.7rem;
  font-weight: 600;
  color: #222831;
}

.container .navbar-brand:hover{
  color: #29a19c;
}

.bg-steel {
  background-color: #ffd880;
}

.site-header .navbar-nav .nav-link {
  font-size: 1.3rem;
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #29a19c;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 600;
}

.content-section {
  background: #edf7fa;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px #ffd880;

}

.article-title {
  color: #00303f;
}

a.article-title:hover {
  color: #0f4c75;
  text-decoration: none;
}

.article-content {
  color: #c72c41;
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color: #184d47;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a{
  color: #045762;
}

.article-metadata a:hover {
  color: #4e8d7c;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn{
  background-color: #fff;
  color: #19456b;
  box-shadow: 0 0 2px #ffd880;
}

.btn:hover{
  background-color: #00917c;
}














